<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD-D2DtQrkkzZbtxqk11iZIIl7AtSl3qdA</string>
	<key>GCM_SENDER_ID</key>
	<string>410436930227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mrgsdev.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-3470b</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-3470b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410436930227:ios:dfe4e118be252edf86bec6</string>
</dict>
</plist>